/* mobile device */
@media screen and (max-width:576px) {
    /* nav responsive */
    nav , .gamer-btn{
        flex-direction: column;
    }
    nav{
        width: 100%;
        height: 100%;
    }
    .gamer-title{
        text-align: center;
        justify-content: center;
    }
    .gamer-btn{
        text-align: center;
    }
    .yt{
        position: relative;
        left: 27%;
        margin-bottom: 20px;
    }
    /* goat responsive */
    .goat-section{
        flex-direction:column-reverse;
    }
    .goat .goat-text{
        width: 100%;
    }
    .goat .goat-text>h2 ,.goat-text>h1,.goat-btn{
        text-align: center;
    }
    .goat-btn{
        margin-top:60px;
    }
    .goat-text >ul >li{
        padding-left:15%;
    }
    .goat-img img{
        width: 100%;
    }
    .goat-text{
        margin: 10px;
    }
    /* online game responsive */
    .gm-img{
        flex-direction: column;
        margin-top: 150px;
    }
    .gm-img p{
        text-align: center;
    }
}
/* tablet device */
@media screen and (min-width:577px) and (max-width:960px) {
     /* nav responsive */
    nav , .gamer-btn{
        flex-direction: column;
    }
    nav{
        width: 100%;
        height: 100%;
    }
    .gamer-title{
        text-align: center;
        justify-content: center;
    }
    .gamer-btn{
        text-align: center;
    }
    .yt{
        position: relative;
        left: 40%;
        margin-bottom: 25px;
    }
    /* goat responsive */
    .goat-section{
        flex-direction:column;
    }
    .goat .goat-text{
        width: 100%;
    }
    .goat .goat-text>h2 ,.goat-text>h1,.goat-btn{
        text-align: center;
    }
    .goat-text >ul >li{
        padding-left:20%;
    }
    .goat-img img{
        width: 100%;
    }
    .goat-text{
        margin: 10px;
    }
    /* online game responsive */
    .gm-img{
       display: grid;
       grid-template-columns: repeat(2,1fr);
       margin-top: 150px;
    }
    .gm-img p{
        text-align: center;
    }
}