/* mobile device */
@media screen and (max-width:576px) {
    /* nav responsive */
    nav , .gamer-btn{
        flex-direction: column;
    }
    nav{
        width: 100%;
        height: 100%;
    }
    .gamer-title{
        text-align: center;
        justify-content: center;
    }
    .gamer-btn{
        text-align: center;
    }
    .yt{
        position: relative;
        left: 27%;
        margin-bottom: 20px;
    }
    /* goat responsive */
    .goat-section{
        flex-direction:column-reverse;
    }
    .goat .goat-text{
        width: 100%;
    }
    .goat .goat-text>h2 ,.goat-text>h1,.goat-btn{
        text-align: center;
    }
    .goat-btn{
        margin-top:60px;
    }
    .goat-text >ul >li{
        padding-left:15%;
    }
    .goat-img img{
        width: 100%;
    }
    .goat-text{
        margin: 10px;
    }
    /* online game responsive */
    .gm-img{
        flex-direction: column;
        margin-top: 150px;
    }
    .gm-img p{
        text-align: center;
    }
    /* play instantly responsive */
    .play{
        flex-direction: column;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }
    .pl-text{
        text-align: center;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .pl-text h1{
        text-align: center;
    }
    .pl-text p{
        text-align: center;
        justify-content: center;
        
    }
    .pl-big-img , .pl-small-img{
        margin: 0;
        padding: 0;
    }
    .pl-big-img img{
        width: 250px;
        padding-left: 80px;
        position: relative;
    }
    .pl-small-img img{
        width: 80px;
        position: absolute;
        right: 30px;
        bottom: 200px;
    }
}
/* tablet device */
@media screen and (min-width:577px) and (max-width:960px) {
     /* nav responsive */
    nav , .gamer-btn{
        flex-direction: column;
    }
    nav{
        width: 100%;
        height: 100%;
    }
    .gamer-title{
        text-align: center;
        justify-content: center;
    }
    .gamer-btn{
        text-align: center;
    }
    .yt{
        position: relative;
        left: 40%;
        margin-bottom: 25px;
    }
    /* goat responsive */
    .goat-section{
        flex-direction:column;
    }
    .goat .goat-text{
        width: 100%;
    }
    .goat .goat-text>h2 ,.goat-text>h1,.goat-btn{
        text-align: center;
    }
    .goat-text >ul >li{
        padding-left:20%;
    }
    .goat-img img{
        width: 100%;
    }
    .goat-text{
        margin: 10px;
    }
    /* online game responsive */
    .gm-img{
       display: grid;
       grid-template-columns: repeat(2,1fr);
       margin-top: 150px;
    }
    .gm-img p{
        text-align: center;
    }
    /* play instantly responsive */
    .play{
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    .pl-text{
        text-align: center;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .pl-text h1{
        text-align: center;
    }
    .pl-text .pl-p{
        text-align: center;
        justify-content: center;  
        
    }
    .pl-big-img , .pl-small-img{
        margin: 0;
        padding: 0;
    }
    .pl-big-img img{
        width: 400px;
        padding-left: 200px;
        position: relative;
    }
    .pl-small-img img{
        width: 100px;
        position: absolute;
        left:-110px;
        bottom: 40px;
    }
}