/* shared code */
*{
    font-family: 'Work Sans', sans-serif;
}
/* nav style */
nav{
    display: flex;
    justify-content: space-around;
    background: #ffffff;
    width: 1520px;
    height: 130px;
    position: relative;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.gamer-title{
    display: flex;
    position: relative; 
  
}
.gamer-title img{
    width: 86.04px;
    height: 40px; 
    position: relative;
    top:48px;
    right:0px;
}
.gamer-title h1{
    text-align: center;
    font-weight: 700;
    font-size: 45px;
}
.gamer-btn{
    margin-top: 50px;
    display: flex; 
}
.gamer-btn a{
    text-decoration: none;
    padding: 20px;
}
.yt{
    margin-top: 18px;
    background: rgba(11, 2, 35, 0.1);
    border-radius: 8px;
    padding-top: 5px;
    width: 190px;
    height: 30px;
}
/* goat style */
.goat-section{
    display: flex;
    justify-content: space-between;
    
}
.goat , .goat-img{
    width: 100%;
}
.goat-text{
    margin-left: 200px;
}
.goat-text h2{
    color: #0b0223;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 48px;
}
.goat-text h1{
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.goat-text >ul >li{
    list-style:none;
    line-height: 20px;
}
.goat-btn{
    margin-top: 40px;
}
.goat-btn> .btn-1{
    background:  rgba(255, 66, 165, 1);
    border: 0px;
    border-radius: 48px;
    padding: 20px;
    gap: 10px;
    width: 120px;
    height: 60px;
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
}
.goat-btn> .btn-2{
    background:#4ec5f7;
    border: 0px;
    border-radius: 48px;
    padding: 20px;
    gap: 10px;
    width: 120px;
    height: 60px;
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
}
/* online game style  */
.online-game-title{
    text-align: center;
    justify-content: center;
}
.online-game-title h3{
    color: #0b0223;
    font-weight: 700;
    font-size: 48px;
}
.fun{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.online-game-title p{
    color: #534c64;
    text-align: center;
    font-weight: 400;
    font-size: 18px/30px;
}
.gm-img{
    display: flex;
    gap: 20px;
    text-align: center;
    
}
.gm-img img{
    justify-content: space-between;

}
.gm-img p{
    text-align:left;
}
.gm-img img:hover{
    cursor:grabbing;
}
