/* shared code */
*{
    font-family: 'Work Sans', sans-serif;
}
/* nav style */
nav{
    display: flex;
    justify-content: space-around;
    background: #ffffff;
    width: 1520px;
    height: 130px;
    position: relative;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.gamer-title{
    display: flex;
    position: relative; 
  
}
.gamer-title img{
    width: 86.04px;
    height: 40px; 
    position: relative;
    top:48px;
    right:0px;
}
.gamer-title h1{
    text-align: center;
    font-weight: 700;
    font-size: 45px;
}
.gamer-btn{
    margin-top: 50px;
    display: flex; 
}
.gamer-btn a{
    text-decoration: none;
    padding: 20px;
}
.yt{
    margin-top: 18px;
    background: rgba(11, 2, 35, 0.1);
    border-radius: 8px;
    padding-top: 5px;
    width: 190px;
    height: 30px;
}
/* goat style */
.goat-section{
    display: flex;
    justify-content: space-between;
    
}
.goat , .goat-img{
    width: 100%;
}
.goat-text{
    margin-left: 200px;
}
.goat-text h2{
    color: #0b0223;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 48px;
}
.goat-text h1{
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.goat-text >ul >li{
    list-style:none;
    line-height: 20px;
}
.goat-btn{
    margin-top: 40px;
}
.goat-btn> .btn-1{
    background:  rgba(255, 66, 165, 1);
    border: 0px;
    border-radius: 48px;
    padding: 20px;
    gap: 10px;
    width: 120px;
    height: 60px;
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
}
.goat-btn> .btn-2{
    background:#4ec5f7;
    border: 0px;
    border-radius: 48px;
    padding: 20px;
    gap: 10px;
    width: 120px;
    height: 60px;
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
}
/* online game style  */
.online-game{
    margin-left:40px;
    margin-right: 40px;
}
.online-game-title{
    text-align: center;
    justify-content: center;
}
.online-game-title h3{
    color: #0b0223;
    font-weight: 700;
    font-size: 48px;
}
.fun{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.online-game-title p{
    color: #534c64;
    text-align: center;
    font-weight: 400;
    font-size: 18px/30px;
}
.gm-img{
    display: flex;
    gap: 20px;
    text-align: center;
    
}
.gm-img img{
    justify-content: space-between;

}
.gm-img p{
    text-align:left;
}
.gm-img img:hover{
    cursor:grabbing;
}
/* play instantly style */
.play{
    display: flex;
    padding-left:200px ;
    margin-bottom:100px;
}
.pl-text{
    width: 100%;
    text-align: center;
    justify-items: center;
    padding-top:250px;
}
.pl-text h1{
    color: #0b0223;
    font-weight: 700;
    font-size: 40px;
}
.pl-ins{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.pl-text p{
    color: #534c64;
    text-align: right;
    font-weight: 400;
    font-size: 18px/30px ;
    width: 353px;
    padding-left: 100px;
  }
.pl-big-img{
    padding-left: 200px;
    width: 100%;
    position: relative;
}
.pl-small-img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: absolute;
    top: 400px;
    left:60px;
}
/* button play style */

.button-play-game{
    margin-top: 200px;
    /* display: grid;
    grid-template-columns: repeat(3,2fr);
    gap: 30px; */
   
    
}
.wala-5 {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
}
.wala-4{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
}
.btn-primary img{
    width:30px;
}
.btn-primary{
    border: 0px;
    display: flex;
    border-radius:50px;
    max-width: fit-content;
    max-height: fit-content;
    cursor: grabbing;
}